body {
	margin-top: 0px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	transition-duration: 0.5s;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a.icon:hover {
	text-decoration: none;
}

a:visited {
	color: black;
}

#contentBoxIn {
	padding-top: 3px;
}

.icon {
	transition: 0.5s;
}

.icon:hover {
	color: dimgrey;
}

.icon_red:hover {
	color: red;
}

.icon_facebook:hover {
	color: #3b5998;
}

.icon_twitter:hover {
	color: #1DA1F2;
}

.icon_github:hover {
	color: #4078c0;
}

td {
	vertical-align: top;
}

td:last-of-type {
	width: 100%;
}

#notificationDrawer {
	background-color: gray;
	color: white;
}

#notificationDrawer p{
	margin: 0px;
	padding: 5px;
}

#closeAllNotifications {
	float: right;
	padding: 3px;
	cursor: pointer;
}

.notification {
	padding: 5px;
	cursor: pointer;
}

.notification:hover {
	color: lightgrey;
}

.psBtn {
	transition: 0.5s;
}

.psBtn:hover {
	cursor: pointer;
}

.psTransparent {
	border-width: 0px;
	padding: 0px;
	color: inherit;
	background-color: inherit;
	cursor: pointer;
	font: inherit;
}

#header {
	background-color: Gainsboro;
	height: 50px;
}

h1 {
	margin: 0px;
}

#headerRight {
	float: right;
	margin: 10px;
}

#entryBox {
	width: 500px;
}

#contentBoxMenu {
	float: right;
	padding: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-size: 14px;
}

#mainTitle {
	padding-top: 5px;
	padding-left: 15px;
}

.mainContentBox {
	/*padding: 15px;
	border-radius: 5px;
	background-color: Gainsboro;*/
}

div.sectionTitleImage {
	float: left;
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 12px;
	padding-bottom: 0px;
}

div.sectionTitleImage img {
	max-width: 64px;
	height: 64px;
}

.sectionTitle {
	font-size: 30px;
}

#listMenu {
	text-align: right;
}

/* big list*/
.itemMenu {
	font-size: 12px;
	float: right;
	padding: 10px;
	position: relative;
	right: -2px;
	background-color: white;
	border-radius: 0px 0px 0px 5px;
}

.itemHeader {
	background: #F2F2F2;
	padding: 10px;
	width: 99%;
}

.podcastEntry, .episodeEntry, .listEntry {
	/*background-color: orange;*/
	/*background-color: lightblue;*/
	border-radius: 10px;
	border-style: solid;
	border-color: whitesmoke;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	position: relative;
	box-shadow: 5px 5px 5px 0px rgba(145,143,145,1);
}

.episodeEntry > table{
	width: 100%;
}

.textView {
	padding: 10px;
	padding-top: 0px;
}

.podcastImage {
	background-color: white;
}

.itemTitle {
	font-size: 20px;
	font-weight: bold;
}

.itemDescription {
	padding-top: 10px;
	word-break: break-word;
}

.itemDescription a, #aboutContent a {
	color: darkgrey;
}

.itemDescription a:hover, #aboutContent a:hover {
	color: darkgrey;
}

.itemDescription img {
	max-width: 400px;
	height: auto;
}

/* Small list */
ul.contentList {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.listItemSmall {
	border: solid;
	border-color: gray;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 4px;
}

.listItemSmallNoImage {
	padding-top: 4px;
}

.listItemSmall:first-child {
	border-width: 1px 0px 1px 0px;
}

div.listItemImageSmall {
	min-width: 18px; 
	text-align: center;
	display: inline-block;
}

img.listItemImageSmall {
	height: 18px;
	position: relative;
	top: 4px;
}

.listItemTitleSmall {
	font-weight: bold;
}


#aboutContent {
	font-size: medium;
}

/** Dark Color Scheme **/
.dark-scheme{
	--dark_text: #d1d2d3;
	--dark_bg : #1e1e1e; 
	--dark_item_bg :#1e1e1e;
	--dark_head : #3d3d3d;
	--dark_border : #565856;
	--dark_entrybox: #2e2e2e; 
}

body.dark-scheme{
	background-color: var(--dark_bg);
	color:var(--dark_text);
	transition-duration: 0.5s;
}

.dark-scheme #playlist{
	background-color: var(--dark_head);
}

.dark-scheme .playlistEntry{
	border-bottom-color:var(--dark_border);
}

.dark-scheme .itemHeader, .dark-scheme .miniPlayer{
	background: var(--dark_head);
}

.dark-scheme .miniPlayer{
	box-shadow: 0px 0px 5px var(--dark_text);
}

.dark-scheme .episodeEntry, .dark-scheme .listEntry, .dark-scheme .podcastEntry{
	border:none;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	background:var(--dark_entrybox);
	transition-duration: 0.5s;
}
.dark-scheme .episodeEntry:hover, .dark-scheme .listEntry:hover,.dark-scheme .podcastEntry:hover{
	box-shadow: 0px 0px 20px var(--dark_text);
}
.dark-scheme #entryBox{
	background-color:var(--dark_entrybox); 
	
	color:var(--dark_text);
}
.dark-scheme #entryBox::placeholder{
	color:var(--dark_text);
}
.dark-scheme .audioPlayer td{
	background: var(--dark_entrybox);
}
.dark-scheme .itemMenu{
	background-color: var(--dark_entrybox);
}
.dark-scheme a, .dark-scheme .psPlayerBtnSecondary{
	color:var(--dark_text);
}
.dark-scheme a:visited{
	color:var(--dark_text)
}
.dark-scheme #header{
	background-color: var(--dark_head)
}
.dark-scheme #mainTitle{
	color: white;
}

body.dark-scheme::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0)
}
body.dark-scheme::-webkit-scrollbar {
	width: 10px;
	height: 5px
}
body.dark-scheme::-webkit-scrollbar-thumb {
	height: 50px;
	background-color:  var(--dark_head) ;
	--outline: 1px solid rgba(0, 0, 0, 0);
	--outline-offset: -1px
}
body.dark-scheme::-webkit-scrollbar-thumb:hover {
	background-color: var(--dark_border);
}

a.funditBtn {
	background-color: #ffb811;
	border-radius: 10px;
	padding: 0px 6px 2px 5px;
	color: black;
}

a.funditBtn:visited {
	color: black;
}

a.funditBtn:hover {
	text-decoration: none;
	background-color: #da9800;
}