<!DOCTYPE html>
<html ng-app="podstationApp">
	<head>
		<title>podStation</title>
		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/angular-route.js"></script>
		<script type="text/javascript" src="lib/angular-sanitize.js"></script>
		<script type="text/javascript" src="lib/angular-drag-and-drop-lists.min.js"></script>
		<script type='text/javascript' src='lib/ng-infinite-scroll.min.js'></script>
		
		<script type="text/javascript" src="reuse/messageServiceDefinition.js"></script>
		
		<script type="text/javascript" src="ui/common.js"></script>
		<script type="text/javascript" src="ui/ng/podstationApp.js"></script>
		<script type="text/javascript" src="reuse/event.js"></script>
		<script type="text/javascript" src="reuse/ng/reuse.js"></script>
		<script type="text/javascript" src="reuse/ng/services/podcastManagerService.js"></script>
		<script type="text/javascript" src="reuse/ng/services/analyticsService.js"></script>
		<script type="text/javascript" src="reuse/ng/services/podcastDataService.js"></script>
		<script type="text/javascript" src="reuse/ng/services/messageService.js"></script>
		<script type="text/javascript" src="reuse/ng/services/podcastManagerService.js"></script>
		<script type="text/javascript" src="ui/ng/services/storageService.js"></script>
		<script type="text/javascript" src="ui/ng/services/socialService.js"></script>
		<script type="text/javascript" src="ui/ng/services/episodePlayerService.js"></script>
		<script type="text/javascript" src="ui/ng/services/searchService.js"></script>
		<script type="text/javascript" src="ui/ng/directives/episodeListDirective.js"></script>
		<script type="text/javascript" src="ui/ng/directives/participantListDirective.js"></script>
		<script type="text/javascript" src="ui/ng/directives/episodePlayerDirective.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/welcomeController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/playlistController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/headerController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/menuController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/podcastsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/episodesController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/searchController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/notificationController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/optionsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/aboutController.js"></script>
		
		<script type="text/javascript" src="podstation.js"></script>
		
		<link rel="stylesheet" type="text/css" href="podstation.css">
		<link rel="stylesheet" href="lib/font-awesome.min.css">
	</head>
	<body>
		<div id="header" ng-controller="headerController">
			<div id="headerRight">
				<input type="text" id="entryBox" placeholder="{{'search_placeholder' | chrome_i18n }}" ng-model="entry" ng-keypress="editBoxKeyPress($event)"/>
				<input type="button" ng-click="searchPodcast()" value="{{'search_button' | chrome_i18n }}"/>
				<input type="button" id="addRSS" ng-click="addPodcast()" value="{{'add_feed' | chrome_i18n }}"/>
				<a href="javascript:void(0)" id="colorScheme" ng-click="toggleColorScheme()" title="{{'color_scheme' | chrome_i18n }}"><i class="fa fa-adjust fa-lg"></i></a>
			</div>
			<h1 id="mainTitle"><i class="fa fa-rss" aria-hidden="true"></i> podStation</h1>
		</div>
		<div ng-include="'ui/ng/partials/notifications.html'"></div>
		<ps-episode-player id="audioPlayer"></ps-episode-player>
		<ps-episode-player mini-player="true"></ps-episode-player>
		<div ng-include="'ui/ng/partials/playlist.html'"></div>
		<div id="contentBoxOut">
			<div id="contentBoxMenu" ng-controller="menuController">
				<a href="#/Podcasts">Podcasts</a> |
				<a href="#/LastEpisodes">{{'last_episodes' | chrome_i18n }}</a> |
				<a href="#/Options">{{'options' | chrome_i18n }}</a> |
				<a class="icon" href="#" id="updateAll" title="{{'update_all' | chrome_i18n }}">
					<i class="fa fa-refresh"></i>
				</a> |
				<a class="icon" href="#/InProgress" title="{{'in_progress' | chrome_i18n }}">
					<i class="fa fa-tasks"></i>
				</a> |
				<a class="icon" href="" ng-click="togglePlaylistVisibility()" title="{{'toggle_playlist' | chrome_i18n }}">
					<i class="fa fa-list"></i>
				</a> |
				<a class="icon" href="" ng-click="importOpml()" title="{{'import_opml' | chrome_i18n }}">
					<i class="fa fa-upload"></i>
				</a> |
				<a class="icon" href="" ng-click="exportOpml()" title="{{'export_opml' | chrome_i18n }}">
					<i class="fa fa-download"></i>
				</a> |
				<a class="icon icon_red" href="https://chrome.google.com/webstore/detail/podstation-podcast-player/bpcagekijmfcocgjlnnhpdogbplajjfn/reviews" target="_blank" title="{{'review' | chrome_i18n }}">
					<i class="fa fa-heart"></i>
				</a> |
				<a class="icon icon_facebook" href="https://www.facebook.com/podStation/" target="_blank" title="Facebook">
					<i class="fa fa-facebook-official"></i>
				</a> |
				<a class="icon icon_twitter" href="https://www.twitter.com/podStation_app/" target="_blank" title="{{'follow_on_twitter' | chrome_i18n }}">
					<i class="fa fa-twitter"></i>
				</a> |
				<a class="icon" href="https://github.com/podStation/podStation" target="_blank" title="{{'fork_it' | chrome_i18n }}">
					<i class="fa fa-code-fork"></i>
				</a> |
				<a class="icon" href="https://github.com/podStation/podStation#support-and-contact" target="_blank" title="{{'contact_and_support' | chrome_i18n }}">
					<i class="fa fa-envelope"></i>
				</a> |
				<a class="icon" href="#/About" title="{{'about_tb' | chrome_i18n }}"><i class="fa fa-question"></i></a> |
				<a class="funditBtn" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DEQFCARLYBXXE" target="_blank">
					<i class="fa fa-dollar"></i> {{ 'fund_it' | chrome_i18n}}
				</a>
				<input id="opmlUploader" type="file" style="display: none" accept=".opml">
			</div>
			<div id="contentBoxIn" ng-view>
			<div>
		<div>
	</body>
</html>
