<!DOCTYPE html>
<html ng-app="podstationApp">
	<head>
		<title>podStation</title>
		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/angular-route.js"></script>
		<script type="text/javascript" src="lib/angular-sanitize.js"></script>
		<script type='text/javascript' src='lib/ng-infinite-scroll.min.js'></script>
		
		<script type="text/javascript" src="reuse/messageServiceDefinition.js"></script>
		
		<script type="text/javascript" src="ui/common.js"></script>
		<script type="text/javascript" src="ui/ng/podstationApp.js"></script>
		<script type="text/javascript" src="ui/ng/services/messageServiceWrapper.js"></script>
		<script type="text/javascript" src="ui/ng/services/searchService.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/episodePlayerController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/headerController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/podcastsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/episodesController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/searchController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/notificationController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/optionsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/aboutController.js"></script>
		
		<script type="text/javascript" src="podstation.js"></script>
		
		<link rel="stylesheet" type="text/css" href="podstation.css">
		<link rel="stylesheet" href="lib/font-awesome.min.css">
	</head>
	<body>
		<div id="header" ng-controller="headerController">
			<div id="headerRight">
				<input type="text" id="entryBox" placeholder="{{'search_placeholder' | chrome_i18n }}" ng-model="entry" ng-keypress="editBoxKeyPress($event)"/>
				<input type="button" ng-click="searchPodcast()" value="{{'search_button' | chrome_i18n }}"/>
				<input type="button" id="addRSS" ng-click="addPodcast()" value="{{'add_feed' | chrome_i18n }}"/>
			</div>
			<h1 id="mainTitle"><img src="images/rss-alt-2x.png"></img> podStation</h1>
		</div>
		<div ng-controller="notificationController" id="notificationDrawer">
			<div id="closeAllNotifications" ng-if="notifications.length" ng-click="dismissAll()" title="{{'dismiss_all' | chrome_i18n }}">
				<i class="fa fa-close"></i>
			</div>
			<div ng-repeat="notification in notifications track by notification.id">
				<div ng-if="!notification.isGroup" class="notification" title="click to dismiss..." ng-click="notification.dismiss()">
					<i ng-if="notification.icon" class="fa {{notification.icon}}"></i> {{notification.text}}
				</div>
				<div ng-if="notification.isGroup" class="notification" ng-click="notification.toggleCollapsed()">
					<i ng-if="notification.collapsed" class="fa fa-caret-right"></i>
					<i ng-if="!notification.collapsed" class="fa fa-caret-down"></i>
					<span>{{notification.text}}</span>
				</div>
				<div ng-if="notification.isGroup && !notification.collapsed">
					<div class="notification" ng-repeat="notificationInGroup in notification.notifications track by notificationInGroup.id"
						title="{{'click_dismiss' | chrome_i18n }}" ng-click="notificationInGroup.dismiss()">
						<span>&nbsp;</span><i ng-if="notificationInGroup.icon" class="fa {{notificationInGroup.icon}}"></i> {{notificationInGroup.text}}
					</div>
				</div>
			</div>
		</div>
		<div ng-controller="episodePlayerController">
			<div id="audioPlayer" ng-if="visible">
				<table>
					<tbody>
						<tr>
							<td>
								<i class="fa fa-refresh fa-spin" ng-if="loading" title="Loading"></i>
								<a href="" ng-click="play()" ng-if="!playing && !loading"><i class="fa fa-play" title="Play"></i></a>
								<a href="" ng-click="pause()" ng-if="playing && !loading"><i class="fa fa-pause" title="{{'pause' | chrome_i18n }}"></i></a>
								<a href="" ng-click="stop()"><i class="fa fa-stop" title="{{'stop' | chrome_i18n }}"></i></a>
								<a href="" ng-click="speedDown()" ng-if="playing && !loading"><i class="fa fa-backward" title="{{'speed_down' | chrome_i18n }}: {{nextPlaybackRateDown()}}x"></i></a>
								<a href="" ng-click="speedUp()" ng-if="playing && !loading"><i class="fa fa-forward" title="{{'speed_up' | chrome_i18n }}: {{nextPlaybackRateUp()}}x"></i></a>
								<a href="" ng-click="previousEpisode()" ng-if="true"><i class="fa fa-step-backward" title="{{'previous_episode' | chrome_i18n }}"></i></a>
								<a href="" ng-click="nextEpisode()" ng-if="true"><i class="fa fa-step-forward" title="{{'next_episode' | chrome_i18n }}"></i></a>
								<span>
									<span ng-if="timeMouseOver"><i>{{timeMouseOver}}</i></span>
									<span ng-if="!timeMouseOver">{{time}}</span>
									<span> / {{duration}}</span>
								</span>
								<br>
								<p>
									<span>Next/Previous</span>
									<select name="audio_list" ng-model="nextAndPrev">
										<option value="from_podcast">from podcast</option>
										<option value="from_last_episodes">from last episodes</option>
									</select>
								</p>
								<br>
								<p><input type="checkbox" name="continuous_play" ng-model="continuousPlay" /> Continue playing</p>
							</td>
							<td ng-if="imageUrl">
								<img ng-src="{{imageUrl}}" id="playerImage"></img>
							</td>
							<td>
								<div id="playingTitle">
									<span><b>{{'playing' | chrome_i18n }}:</b> </span>
									<a ng-if="mediaLink" ng-href="{{mediaLink}}" target="_blank">{{mediaTitle}}</a>
									<span ng-if="!mediaLink">{{mediaTitle}}</span>
								</div>
								<div id="progressOut" ng-click="seek($event)" ng-mousemove="progressMouseOver($event)" 
								ng-mouseleave="progressMouseLeave()" title="{{timeMouseOver}}">
									<div id="progressIn" style="width: {{timePercent}}%"></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="contentBoxOut">
			<div id="contentBoxMenu">
				<a href="#/Podcasts">Podcasts</a> |
				<a href="#/LastEpisodes/20">{{'last_episodes' | chrome_i18n }}</a> |
				<a href="#/Options">{{'options' | chrome_i18n }}</a> |
				<a class="icon" href="#" id="updateAll" title="{{'update_all' | chrome_i18n }}">
					<i class="fa fa-refresh"></i>
				</a> |
				<a class="icon" href="#/InProgress" title="{{'in_progress' | chrome_i18n }}">
					<i class="fa fa-tasks"></i>
				</a> |
				<a class="icon icon_red" href="https://chrome.google.com/webstore/detail/podstation-podcast-player/bpcagekijmfcocgjlnnhpdogbplajjfn/reviews" target="_blank" title="{{'review' | chrome_i18n }}">
					<i class="fa fa-heart"></i>
				</a> |
				<a class="icon icon_facebook" href="https://www.facebook.com/podStation/" target="_blank" title="Facebook">
					<i class="fa fa-facebook-official"></i>
				</a> |
				<a class="icon icon_twitter" href="https://www.twitter.com/podStation_app/" target="_blank" title="Follow us on Twitter">
					<i class="fa fa-twitter"></i>
				</a> |
				<a class="icon icon_github" href="https://github.com/podStation/podStation" target="_blank" title="Fork it!">
					<i class="fa fa-github-square"></i>
				</a> |
				<a class="icon" href="https://bitbucket.org/dellagustin/podstation_chrome_ext/issues/new" target="_blank" title="{{'report_bug' | chrome_i18n }}">
					<i class="fa fa-bug"></i>
				</a> |
				<a class="icon" href="#/About" title="{{'about' | chrome_i18n }}"><i class="fa fa-question"></i></a>
			</div>
			<div id="contentBoxIn" ng-view>
			<div>
		<div>
	</body>
</html>
