<!DOCTYPE html>
<html ng-app="podstationApp">
	<head>
		<title>podStation</title>
		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/angular-route.js"></script>
		<script type="text/javascript" src="lib/angular-sanitize.js"></script>
		<script type='text/javascript' src='lib/ng-infinite-scroll.min.js'></script>
		
		<script type="text/javascript" src="reuse/messageServiceDefinition.js"></script>
		
		<script type="text/javascript" src="ui/common.js"></script>
		<script type="text/javascript" src="ui/ng/podstationApp.js"></script>
		<script type="text/javascript" src="ui/ng/services/messageServiceWrapper.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/episodePlayerController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/headerController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/podcastsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/episodesController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/searchController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/notificationController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/optionsController.js"></script>
		<script type="text/javascript" src="ui/ng/controllers/aboutController.js"></script>
		
		<script type="text/javascript" src="podstation.js"></script>
		
		<link rel="stylesheet" type="text/css" href="podstation.css">
		<link rel="stylesheet" href="lib/font-awesome.min.css">
	</head>
	<body>
		<div id="header" ng-controller="headerController">
			<div id="headerRight">
				<input type="text" id="entryBox" placeholder="Podcast feed or search terms..." ng-model="entry" ng-keypress="editBoxKeyPress($event)"/>
				<input type="button" ng-click="searchPodcast()" value="Search for a podcast"/>
				<input type="button" id="addRSS" ng-click="addPodcast()" value="Add Feed"/>
			</div>
			<h1 id="mainTitle"><img src="images/rss-alt-2x.png"></img> podStation</h1>
		</div>
		<div ng-controller="notificationController" id="notificationDrawer">
			<div id="closeAllNotifications" ng-if="notifications.length" ng-click="dismissAll()" title="Dismiss all...">
				<i class="fa fa-close"></i>
			</div>
			<div ng-repeat="notification in notifications track by notification.id">
				<div ng-if="!notification.isGroup" class="notification" title="click to dismiss..." ng-click="notification.dismiss()">
					<i ng-if="notification.icon" class="fa {{notification.icon}}"></i> {{notification.text}}
				</div>
				<div ng-if="notification.isGroup" class="notification" ng-click="notification.toggleCollapsed()">
					<i ng-if="notification.collapsed" class="fa fa-caret-right"></i>
					<i ng-if="!notification.collapsed" class="fa fa-caret-down"></i>
					<span>{{notification.text}}</span>
				</div>
				<div ng-if="notification.isGroup && !notification.collapsed">
					<div class="notification" ng-repeat="notificationInGroup in notification.notifications track by notificationInGroup.id"
						title="click to dismiss..." ng-click="notificationInGroup.dismiss()">
						<span>&nbsp;</span><i ng-if="notificationInGroup.icon" class="fa {{notificationInGroup.icon}}"></i> {{notificationInGroup.text}}
					</div>
				</div>
			</div>
		</div>
		<div  ng-controller="episodePlayerController">
			<div id="audioPlayer" ng-if="visible">
				<table>
					<tbody>
						<tr>
							<td>
								<i class="fa fa-refresh fa-spin" ng-if="loading" title="Loading"></i>
								<a href="" ng-click="play()" ng-if="!playing && !loading"><i class="fa fa-play" title="Play"></i></a>
								<a href="" ng-click="pause()" ng-if="playing && !loading"><i class="fa fa-pause" title="Pause"></i></a>
								<a href="" ng-click="stop()"><i class="fa fa-stop" title="Stop"></i></a>
								<a href="" ng-click="speedDown()" ng-if="playing && !loading"><i class="fa fa-backward" title="Speed Down: {{nextPlaybackRateDown()}}x"></i></a>
								<a href="" ng-click="speedUp()" ng-if="playing && !loading"><i class="fa fa-forward" title="Speed Up: {{nextPlaybackRateUp()}}x"></i></a>
								<span>
									<span ng-if="timeMouseOver"><i>{{timeMouseOver}}</i></span>
									<span ng-if="!timeMouseOver">{{time}}</span>
									<span> / {{duration}}</span>
								</span>
							</td>
							<td ng-if="imageUrl">
								<img ng-src="{{imageUrl}}" id="playerImage"></img>
							</td>
							<td>
								<div id="playingTitle">Playing: {{mediaTitle}}</div>
								<div id="progressOut" ng-click="seek($event)" ng-mousemove="progressMouseOver($event)" 
								ng-mouseleave="progressMouseLeave()" title="{{timeMouseOver}}">
									<div id="progressIn" style="width: {{timePercent}}%"></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="contentBoxOut">
			<div id="contentBoxMenu">
				<a href="#/Podcasts">Podcasts</a> |
				<a href="#/LastEpisodes/20">Last Episodes</a> |
				<a href="#" id="updateAll">Update All</a> |
				<a href="#/Options">Options</a> |
				<a href="https://www.facebook.com/podStation/" target="_blank" title="Facebook">
					<i class="fa fa-facebook-official"></i>
				</a> |
				<a href="https://bitbucket.org/dellagustin/podstation_chrome_ext/issues/new" target="_blank" title="Report a bug">
					<i class="fa fa-bug"></i>
				</a> |
				<a href="#/About" title="About..."><i class="fa fa-question"></i></a>
			</div>
			<div id="contentBoxIn" ng-view>
			<div>
		<div>
	</body>
</html>
