body {
	margin-top: 0px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

td {
	vertical-align: top;
}

#header {
	background-color: Gainsboro;
	height: 50px;
	margin-bottom: 10px;
}

#headerRight {
	float: right;
	margin: 10px;
}


#entryBox {
	width: 500px;
}

#contentBoxMenu {
	float: right;
	padding: 15px;
}

#mainTitle {
	padding-top: 5px;
	padding-left: 15px;
}

.mainContentBox {
	/*padding: 15px;
	border-radius: 5px;
	background-color: Gainsboro;*/
}

.sectionTitle {
	font-size: 30px;
}

.itemMenu {
	font-size: 12px;
	float: right;
	padding: 10px;
	position: absolute;
	right: 0px;
}

.podcastEntry, .episodeEntry {
	/*background-color: orange;*/
	/*background-color: lightblue;*/
	border-radius: 10px;
	border-style: solid;
	border-color: whitesmoke;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	position: relative;
	box-shadow: 5px 5px 5px 0px rgba(145,143,145,1);
}

.podcastImage {
	background-color: white;
}

.itemTitle {
	font-size: 20px;
	font-weight: bold;
}

.itemDescription {
	padding-top: 10px;
}

.itemDescription a {
	color: deepskyblue;
}

.itemDescription a:hover {
	color: deepskyblue;
}

.textView {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	/*width: 820px;*/
}
