body {
	margin-top: 0px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

td {
	vertical-align: top;
}

#audioPlayer {
	margin-top: -10;
}

#playerImage {
	width: 80px;
	height: 80px;
}

#audioPlayer table {
	width: 100%;
	border-collapse: collapse;
}

#audioPlayer td {
	background-color: black;
	color: white;
	padding: 10px;
	white-space: nowrap;
}

#audioPlayer td a {
	color: white;
}

#audioPlayer td:last-child{
	width:100%;
}

#progressOut {
	margin-top: 5px;
	height: 10px;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
}

#progressIn {
	height: inherit;
	background-color: grey;
	border-radius: inherit;
}

#header {
	background-color: Gainsboro;
	height: 50px;
}

h1 {
	margin: 0px;
}

#headerRight {
	float: right;
	margin: 10px;
}

#entryBox {
	width: 500px;
}

#contentBoxMenu {
	float: right;
	padding: 15px;
	padding-right: 0px;
}

#mainTitle {
	padding-top: 5px;
	padding-left: 15px;
}

.mainContentBox {
	/*padding: 15px;
	border-radius: 5px;
	background-color: Gainsboro;*/
}

.sectionTitle {
	font-size: 30px;
}

.itemMenu {
	font-size: 12px;
	float: right;
	padding: 10px;
	position: absolute;
	right: 0px;
}

.itemHeader {
	background: #F2F2F2;
	padding: 10px;
	width: 800px;
}

.podcastEntry, .episodeEntry, .listEntry {
	/*background-color: orange;*/
	/*background-color: lightblue;*/
	border-radius: 10px;
	border-style: solid;
	border-color: whitesmoke;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	position: relative;
	box-shadow: 5px 5px 5px 0px rgba(145,143,145,1);
}

.textView {
	padding: 10px;
	padding-top: 0px;
}

.podcastImage {
	background-color: white;
}

.itemTitle {
	font-size: 20px;
	font-weight: bold;
}

.itemDescription {
	padding-top: 10px;
}

.itemDescription a, #aboutContent a {
	color: darkgrey;
}

.itemDescription a:hover, #aboutContent a:hover {
	color: darkgrey;
}

#aboutContent {
	font-size: medium;
}
