<div ng-if="episodeList.listType==='big_list'" class="episodeEntry" ng-repeat="episode in episodeList.episodes | orderBy:episodeList.orderBy():episodeList.isReverseOrder() | limitTo:episodeList.limitTo">
	<table>
		<tr>
			<td ng-if="episode.image">
				<img ng-src="{{episode.image}}" class="podcastImage" width="100"></img>
			</td>
			<td>
				<div class="itemMenu">
					<div ng-if="episode.url">
						<span ng-show="episode.isInPlaylist">
							<a href="" ng-click="episodeList.removeFromPlaylist(episode)" title="{{ 'remove_from_playlist' | chrome_i18n }}"><i class="fa fa-minus"></i></a> |
						</span>
						<span ng-show="!episode.isInPlaylist">
							<a href="" ng-click="episodeList.addToPlaylist(episode)" title="{{ 'add_to_playlist' | chrome_i18n }}"><i class="fa fa-plus"></i></a> |
						</span>
						<a href="" ng-click="episodeList.play(episode)" title="{{'play_episode' | chrome_i18n}}"><i class="fa fa-play"></i></a> |
						<span ng-show="episode.pausedAt">
							<a href="" ng-click="episodeList.deletePlayTime(episode)" title="{{ 'remove_progress' | chrome_i18n }}"><i class="fa fa-stop"></i></a> |
						</span>
						<a ng-href="{{episode.url}}" download><i class="fa fa-download"></i></a>
					</div>
				</div>
				<div class="textView">
					<div class="itemHeader">
						<a href="" ng-click="episodeList.play(episode)" title="{{'play_episode' | chrome_i18n}}" class="itemTitle episodeTitle">{{episode.title}}</a>
						<br>
						<span ng-if="episode.link">
							<a ng-href="{{episode.link}}" target="_blank">{{'open_episode_website' | chrome_i18n}}</a> - 
						</span>
						<span class="psBtn icon_twitter" title="{{'tweet_this_episode' | chrome_i18n}}" ng-click="episodeList.tweet(episode)">
							<i class="fa fa-twitter"></i> {{'tweet' | chrome_i18n}}
						</span>
						<!--<span> | </span>
						<span class="psBtn icon_facebook" title="{{'facebook_share_this_episode' | chrome_i18n}}" ng-click="episodeList.shareWithFacebook(episode)">
							<i class="fa fa-facebook"></i> {{'facebook_share' | chrome_i18n}}
						</span>-->
						<span ng-if="episode.podcastIndex !== undefined">
							<br>
							<a ng-href="#/Episodes/{{episode.podcastIndex}}">
								<span ng-bind-html="{ message: 'all_eps_from', arguments: [episode.podcastTitle]} | chrome_i18n"></span>
							</a>
						</span>
						<span ng-if="episode.lastTimePlayedFormatted"><br>{{'last_time_played' | chrome_i18n }}: {{ episode.lastTimePlayedFormatted }}</span>
						<span ng-if="episode.pubDate"><br>{{'publication_date' | chrome_i18n }}: {{episode.pubDate}}</span>
						<span ng-if="episode.duration"><br>{{'duration' | chrome_i18n }}: {{episode.duration | format_seconds}}</span>
						<span ng-if="episode.pausedAt"><br>{{'paused_at' | chrome_i18n }}: {{episode.pausedAt | format_seconds}}</span>
					</div>
					<div class="itemDescription" ng-bind-html="episode.description">
					</div>
					<ps-participant-list participants="episode.participants"></ps-participant-list>
				</div>
			</td>
		</tr>
	</table>
</div>
<div ng-if="episodeList.listType!=='big_list'" style="padding-top: 5px">
	<ul class="contentList">
		<li ng-repeat="episode in episodeList.episodes | orderBy:episodeList.orderBy():episodeList.isReverseOrder() | limitTo:episodeList.limitTo" class="listItemSmall">
			<div ng-if="episode.image" class="listItemImageSmall">
				<img ng-src="{{episode.image}}" class="listItemImageSmall"></img>
			</div>
			<a href="" ng-show="episode.isInPlaylist"  ng-click="episodeList.removeFromPlaylist(episode)" title="{{ 'remove_from_playlist' | chrome_i18n }}"><i class="fa fa-minus"></i></a>
			<a href="" ng-show="!episode.isInPlaylist" ng-click="episodeList.addToPlaylist(episode)"      title="{{ 'add_to_playlist' | chrome_i18n }}"><i class="fa fa-plus"></i></a>
			<a href="" ng-click="episodeList.play(episode)" title="{{'play_episode' | chrome_i18n}}"><i class="fa fa-play"></i></a>
			<a href="" ng-show="episode.pausedAt"      ng-click="episodeList.deletePlayTime(episode)"     title="{{ 'remove_progress' | chrome_i18n }}"><i class="fa fa-stop"></i></a>
			<a ng-href="{{episode.url}}" download><i class="fa fa-download"></i></a>
			<a href="" ng-click="episodeList.play(episode)" title="{{'play_episode' | chrome_i18n}}" class="listItemTitleSmall">{{episode.title}}</a>

			<span ng-if="episode.duration"> - {{episode.duration | format_seconds}}</span>
			<span ng-if="episode.link"> - <a ng-href="{{episode.link}}" target="_blank">{{'open_episode_website' | chrome_i18n}}</a></span>
			<span ng-if="episode.pubDate"> - {{'publication_date' | chrome_i18n }}: {{episode.pubDate}}</span>
			<span ng-if="episode.pausedAt"> - {{'paused_at' | chrome_i18n }}: {{episode.pausedAt | format_seconds}}</span>
		</li>
	</ul>
</div>