<div id="podcasts" class="mainContentBox">
	<h1 class="sectionTitle">Podcasts</h1>
	<div ng-show="ready()">
		<h3 ng-if="!podcasts.length">{{'no_podcasts' | chrome_i18n }}</h3>
		<div id="podcastList" ng-show="podcasts.length">
			<div id="listMenu">
				<select ng-model="sorting" ng-change="sortingChanged()" style="font-family: 'FontAwesome', Tahoma, sans-serif; font-size: 14px; height: 22px;">
					<option value="by_alpha_ascending" >&#xf15d; A-Z</option>
					<option value="by_alpha_descending">&#xf15e; Z-A</option>
					<option value="by_pubdate_ascending" >&#xf160; {{ 'oldest' | chrome_i18n}}</option>
					<option value="by_pubdate_descending">&#xf161; {{ 'most_recent' | chrome_i18n}}</option>
					<option value="by_subscription_ascending">&#xf160; {{ 'first_added' | chrome_i18n}}</option>
					<option value="by_subscription_descending">&#xf161; {{ 'last_added' | chrome_i18n}}</option>
				</select>
				<select ng-model="listType" ng-change="listTypeChanged()" style="font-family: 'FontAwesome', Tahoma, sans-serif; font-size: 14px; height: 22px;">
					<option value="big_list"  >&#xf00b; Big list</option>
					<option value="small_list">&#xf03a; Small list</option>
				</select>
			</div>
			<div ng-if="listType==='big_list'" ng-repeat="podcast in podcasts | orderBy:orderBy():isReverseOrder()" id="podcast_{{podcast.url}}" class="podcastEntry">
				<div>
				<table>
					<tr>
						<td>
							<img ng-src="{{podcast.image}}" class="podcastImage" width="100"></img>
						</td>
						<td>
							<div class="itemMenu">
								<a class="removePodcast" href="" id="{{podcast.url}}" ng-click="deletePodcast(podcast)"><i class="fa fa-remove"></i></a> |
								<a class="updatePodcast" href="" id="{{podcast.url}}" ng-click="updatePodcastFromFeed(podcast)"><i class="fa fa-refresh"></i></a>
							</div>
							<div class="textView">
								<div class="itemHeader">
									<a ng-href="#/Episodes/{{podcast.index}}" title="{{'show_episodes' | chrome_i18n }}" class="itemTitle podcastTitle">{{podcast.title}}</a>
									<br>
									<a ng-href="#/Episodes/{{podcast.index}}" class="linkToEpisodes" id="{{podcast.url}}">
										<span class="episodes">{{ { message: 'number_episodes', arguments: [podcast.episodesNumber]} | chrome_i18n }}</span><!--
									--></a>
									<span ng-if="podcast.link">
										<span> - </span>
										<a ng-href="{{podcast.link}}" target="_blank">
											<span>{{'open_podcast_website' | chrome_i18n }}</span><!--
										--></a>
									</span>
									<span ng-if="podcast.socialHandles || podcast.email">
										<span> - </span>
										<span ng-if="podcast.email">
											<a ng-href="mailto:{{podcast.email}}" title="e-mail">
												<i class="fa fa-envelope"></i><!--
											--></a>
										</span>
										<span ng-repeat="socialHandle in podcast.socialHandles">
											<a ng-href="{{socialHandle.url}}" target="_blank" title="{{socialHandle.text}}">
												<i class="fa fa-{{socialHandle.faIcon}}"></i><!--
											--></a>
										</span>
									</span>
									<br>
									<!--must add a check for pubdate-->
									<span>{{'publication_date' | chrome_i18n }}: {{podcast.pubDate}}</span>
									<span ng-if="podcast.crowdfundings">
										<br>
										{{'fund_this_podcast' | chrome_i18n }}: 
										<span ng-repeat="crowdfunding in podcast.crowdfundings">
											<a class="funditBtn" ng-href="{{crowdfunding.url}}" target="_blank" title="{{crowdfunding.text}}">
												<i class="fa fa-dollar"></i> {{crowdfunding.text}}</a><!--
											--><span ng-if="!$last">, </span>
										</span>
									</span>
									<br>
									<span class="podcastStatus">Status: <i class="fa {{podcast.statusClass}}"></i></span>
								</div>
								<div class="itemDescription" ng-bind-html="podcast.description">
								</div>
								<ps-participant-list participants="podcast.participants"></ps-participant-list>
							</div>
						</td>
					</tr>
				</table>
				</div>
			</div>
			<div ng-if="listType!=='big_list'" style="padding-top: 5px">
				<ul class="contentList">
					<li ng-repeat="podcast in podcasts | orderBy:orderBy():isReverseOrder()" class="listItemSmall">
						<div class="listItemImageSmall">
							<img ng-src="{{podcast.image}}" class="listItemImageSmall"></img>
						</div>
						<a class="removePodcast" href="" id="{{podcast.url}}" ng-click="deletePodcast(podcast)"><i class="fa fa-remove"></i></a>
						<a class="updatePodcast" href="" id="{{podcast.url}}" ng-click="updatePodcastFromFeed(podcast)"><i class="fa fa-refresh"></i></a>
						<a ng-href="#/Episodes/{{podcast.index}}" title="{{'show_episodes' | chrome_i18n }}" class="listItemTitleSmall">{{podcast.title}}</a> - 
						<span ng-if="podcast.link">
						<a ng-href="{{podcast.link}}" target="_blank">
							<span>{{'open_podcast_website' | chrome_i18n }}</span>
						</a> -
						</span>
						<span>{{'publication_date' | chrome_i18n }}: {{podcast.pubDate}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
