<div id="episodes" class="mainContentBox">
	<table>
		<tbody>
			<tr>
				<td><img height="50" ng-src="{{podcastImage}}"></img></td>
				<td><h1 class="sectionTitle episodesSectionTitle" ng-bind-html="{ message: 'all_eps_from', arguments: [podcastTitle]} | chrome_i18n"></h1></td>
			</tr>
		</tbody>
	</table>
	<div id="episodeList" infinite-scroll="myPagingFunction()" infinite-scroll-distance="1">
		<div class="episodeEntry" ng-repeat="episode in episodes | limitTo:numberEpisodes">
			<table>
				<tr>
					<td ng-if="episode.image">
						<img ng-src="{{episode.image}}" class="podcastImage" width="100"></img>
					</td>
					<td>
						<div class="itemMenu">
							<div ng-if="episode.url">
								<a href="" ng-click="episode.addToPlaylist()" title="{{ 'add_to_playlist' | chrome_i18n }}"><i class="fa fa-plus"></i></a> |
								<a href="" ng-click="episode.play()" title="{{'play_episode' | chrome_i18n}}"><i class="fa fa-play"></i></a> |
								<a ng-href="{{episode.url}}" download><i class="fa fa-download"></i></a>
							</div>
						</div>
						<div class="textView">
							<div class="itemHeader" style="width: 900px">
								<a href="" ng-click="episode.play()" title="{{'play_episode' | chrome_i18n}}" class="itemTitle episodeTitle">{{episode.title}}</a>
								<span ng-if="episode.link">
									<br>
									<a ng-href="{{episode.link}}" target="_blank">{{'open_episode_website' | chrome_i18n}}</a>
								</span>
								<br>
								<span>{{'publication_date' | chrome_i18n }}: {{episode.pubDate}}</span>
							</div>
							<div class="itemDescription" ng-bind-html="episode.description">
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
