<div id="episodes" class="mainContentBox">
	<h1 class="sectionTitle episodesSectionTitle">{{'last_episodes' | chrome_i18n }}</h1>
	<h3 ng-if="!episodes.length">{{'no_episodes' | chrome_i18n }}</h3>
	<div id="episodeList" infinite-scroll="myPagingFunction()" infinite-scroll-distance="1">
		<div class="episodeEntry" ng-repeat="episode in episodes | limitTo:numberEpisodes">
			<table>
				<tr>
					<td ng-if="episode.image">
						<img ng-src="{{episode.image}}" class="podcastImage" width="100"></img>
					</td>
					<td>
						<div class="itemMenu">
							<div ng-if="episode.url">
								<a href="" ng-click="episode.play()"><i class="fa fa-play"></i></a> |
								<a ng-href="{{episode.url}}" download><i class="fa fa-download"></i></a>
							</div>
						</div>
						<div class="textView">
							<div class="itemHeader">
								<a ng-href="{{episode.link}}" ng-if="episode.link" target="_blank" class="itemTitle episodeTitle">
									<span>{{episode.title}}</span>
								</a>
								<span ng-if="!episode.link" class="itemTitle episodeTitle">{{episode.title}}</span>
								<br>
								<a ng-href="#/Episodes/{{episode.podcastIndex}}">
									<span ng-bind-html="{ message: 'all_eps_from', arguments: [episode.podcastTitle]} | chrome_i18n"></span>
								</a>
								<br>
								<span>{{'publication_date' | chrome_i18n }}: {{episode.pubDate}}</span>
							</div>
							<div class="itemDescription" ng-bind-html="episode.description">
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
