<style>
.participantListBox {
	background-color: lightgray;
	padding: 10px 10px;
	margin: 10px 0px;
	border-radius: 10px;
}

ul.participantList {
	list-style-type: none;
	padding: 0px 20px;
	margin: 8px 0px;
}
</style>
<div ng-show="participantList.participants.length">
	<!--<button class="psTransparent">Show participants <i class="fa fa-angle-double-right"></i></button>-->
	<div class="participantListBox">
		<strong>Participants</strong>
		<ul class="participantList">
			<li ng-repeat="participant in participantList.participants">
				<span>{{participant.name}}</span>
				<span> - </span>
				<span ng-show="participant.email">
					<a ng-href="mailto:{{podcast.email}}" title="e-mail">
						<i class="fa fa-envelope"></i><!--
					--></a>
				</span>
				<span ng-repeat="socialHandle in participant.socialHandles">
					<a ng-href="{{socialHandle.url}}" target="_blank" title="{{socialHandle.text}}">
						<i class="fa fa-{{socialHandle.faIcon}}"></i><!--
					--></a>
				</span>
			</li>
		</ul>
	</div>
</div>