<div id="podcasts" class="mainContentBox">
	<h1 class="sectionTitle">Search Results for '{{searchTerms}}'</h1>
	<h2>Results from <a href="http://www.podcastsearchservice.com/">www.podcastsearchservice.com</a> and <a href="http://www.apple.com/itunes/">iTunes</a></h2>
	<p>iTunes is a trademark of Apple Inc., registered in the U.S. and other countries.</p>
	<div class="listEntry" ng-repeat="searchResult in searchResults">
		<div class="itemMenu">
			<a href="" ng-if="!searchResult.subscribed" title="Add podcast" ng-click="searchResult.addPodcast()"><i class="fa fa-plus"></i></a>
			<i ng-if="searchResult.subscribed" title="Hooray! you have this feed already." class="fa fa-check"></i>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<img ng-src="{{searchResult.image}}" class="podcastImage" width="100"></img>
						</td>
						<td>
							<div class="textView">
								<a ng-href="{{searchResult.link}}" target="_blank">
									<span class="itemTitle">{{searchResult.title}}</span>
								</a>
								<br>
								<a ng-if="searchResult.itunesLink" ng-href="{{searchResult.itunesLink}}" target="_blank">Open in iTunes</a>
								<div class="itemDescription">
									{{searchResult.description}}
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h3 ng-if="!searchResults.length">Sorry, we could not find a podcast for you...</h3>
</div>
