<div class="episodeEntry">
	<table>
		<tr>
			<td>
				<div class="itemMenu">
					<a href="{{url}}" target="_blank"><i class="fa fa-play"></i></a>
					<a href="{{url}}" download><i class="fa fa-download"></i></a>
				</div>
				<div class="textView">
					<a href="{{link}}"><span class="itemTitle episodeTitle">{{title}}</span></a>
					<p>{{pubDate}}</p>
					<div class="itemDescription">
						{{{description}}}
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
