<div class="episodeEntry">
	<table>
		<tr>
			<td>
				<div class="itemMenu">
					<a href="{{url}}">Download</a>
				</div>
				<div class="textView">
					<a href="{{link}}"><h2 class="episodeTitle">{{title}}</h2></a>
					<p>{{pubDate}}</p>
					<p>{{{description}}}</p>
				</div>
			</td>
		</tr>
	</table>
</div>
