<div class="episodeEntry">
	<table>
		<tr>
			{{#image}}
				<td>
					<img src="{{image}}" class="podcastImage" width="100"></img>
				</td>
			{{/image}}
			<td>
				<div class="itemMenu">
					{{#url}}
						<a href="{{url}}" target="_blank"><i class="fa fa-play"></i></a> |
						<a href="{{url}}" download><i class="fa fa-download"></i></a>
					{{/url}}
				</div>
				<div class="textView">
					{{#link}}<a href="{{link}}" target="_blank">{{/link}}
						<span class="itemTitle episodeTitle">{{title}}</span>
					{{#link}}</a>{{/link}}
					<br>
					<span>Publication date: {{pubDate}}</span>
					<br>
					<div class="itemDescription">
						{{{description}}}
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
