<table>
	<tbody>
		{{#feedsInPage}}
			<tr>
				<td nowrap>{{title}}</td>
				<td nowrap>{{feed}}</td>
				<td nowrap>
					{{#added}}
						<i class="fa fa-check" title="Hooray! you have this feed already."></i>
					{{/added}}
					{{^added}}
						<a class='addPodcast' id='{{feed}}' href='#' title="Add feed..."><i class="fa fa-plus"></i></a>
					{{/added}}
				</td>
			</tr>
		{{/feedsInPage}}
	</tbody>
</table>
