<table>
	<tbody>
		{{#feedsInPage}}
			<tr>
				<td nowrap>{{title}}</td>
				<td nowrap>{{feed}}</td>
				<td nowrap><a class='addPodcast' id='{{feed}}' href='#' title="Add feed..."><i class="fa fa-plus"></i></a></td>
			</tr>
		{{/feedsInPage}}
	</tbody>
</table>
