<div id="podcast_{{url}}" class="podcastEntry">
	<div class="itemMenu">
		<a href="#" class="removePodcast" id="{{url}}"><i class="fa fa-remove"></i></a> |
		<a href="#" class="updatePodcast" id="{{url}}"><i class="fa fa-refresh"></i></a>
	</div>
	<div>
	<table>
		<tr>
			<td>
				<img src="{{image}}" class="podcastImage" width="100"></img>
			</td>
			<td>
				<div class="textView">
					{{#link}}<a href="{{link}}" target="_blank">{{/link}}
						<span class="itemTitle podcastTitle">{{title}}</span>
					{{#link}}</a>{{/link}}
					<a href="#Episodes/{{index}}" class="linkToEpisodes" id="{{url}}">
						<span class="episodes">{{episodesNumber}} Episode(s)</span>
					</a>
					<br>
					<span class="podcastStatus">Status: <i class="fa {{statusClass}}"></i></span>
					<div class="itemDescription">
						{{description}}
					<div class="itemDescription">
				</div>
			</td>
		</tr>
	</table>
	</div>
</div>
