<div id="podcast_{{url}}" class="podcastEntry">
	<table>
		<tr>
			<td>
				<img src="{{image}}" class="podcastImage" height="100" width="100"></img>
			</td>
			<td>
				<div class="podcastTextView">
					<a href="{{link}}"><h1 class="podcastTitle">{{title}}</h1></a>
					<h2 class="podcastTitle">{{episodesNumber}} Episode(s)</h2>
					<p>{{description}}</p>
				</div>
			</td>
		</tr>
	</table>
</div>
