<div id="podcast_{{url}}" class="podcast_entry">
	<table>
		<tr>
			<td>
				<img src="{{image}}" height="144" width="144"></img>
			</td>
			<td>
				<a href="{{link}}"><h1>{{title}}</h1></a>
				<p>{{description}}</p>
			</td>
		</tr>
	</table>
</div>
