<div id="about" class="mainContentBox">
	<h1 class="sectionTitle">{{'about' | chrome_i18n }}</h1>
	<div id="aboutContent">
		<div ng-bind-html="{ message: 'about_long_text'} | chrome_i18n">
		</div>
		<h3>Powered by</h3>
		<ul>
			<li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
			<li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
			<li><a href="http://sroze.github.io/ngInfiniteScroll/" target="_blank">ngInfinitScroll</a></li>
			<li><a href="http://www.podcastsearchservice.com/" target="_blank">Podcast Search Service</a></li>
			<li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awsome</a></li>
			<li><a href="https://useiconic.com/open/" target="_blank">Open Iconic</a></li>
			<li><a href="https://github.com/aadsm/jsmediatags" target="_blank">JS MediaTags</a></li>
		</ul>
		<h3>{{'integrated_with' | chrome_i18n }}</h3>
		<ul>
			<li><a href="https://chrome.google.com/webstore/detail/screen-shader/fmlboobidmkelggdainpknloccojpppi" target="_blank">Screen Shader</a></li>
		</ul>
		<h3>{{'stats_for_nerds' | chrome_i18n }}</h3>
		<ul>
			<li>Synch storage: {{bytesInSynchStorage}} B</li>
			<li>Local storage: {{bytesInLocalStorage/(1024*1024) | number : 2}} MB</li>
		</ul>
	</div>
</div>
