<style>
.audioPlayer {
	margin-top: -10;
}

#playerImage {
	max-width: 200px;
	height: 80px;
}

.audioPlayer table {
	width: 100%;
	border-collapse: collapse;
}

.audioPlayer td {
	background-color: black;
	color: white;
	padding: 10px;
	white-space: nowrap;
}

.audioPlayer td a {
	color: white;
}

.audioPlayer td:last-child{
	width:100%;
	white-space: normal;
}

#progressOut {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 10px;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
}

#progressIn {
	height: inherit;
	background-color: grey;
	border-radius: inherit;
}

#playerOptions {
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: white;
	border-style: dashed;
	margin-bottom: 5px;
}

#volumeControl {
	padding-top: 10px;
}

#volumeIcon {
	font-size: 16px;
	position: relative;
	top: 3px;
}

input[type=range]{
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 300px;
	height: 5px;
	background: #ddd;
	border: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 8px;
	border-radius: 4px;
	background: grey;
	margin-top: -6px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

.psPlayerTimeText {
	font-family: sans-serif;
}

.playerButtonDisabled {
	color: gray !important;
	cursor: default;
}

.psPlayerBtnSecondary {
	cursor: pointer;
	color: gray;
	transition: 0.5s;
}

.psPlayerBtnSecondary:hover {
	color: inherit;
}

.psPlayerBtnSecondaryTwitter:hover {
	color: #1DA1F2;
}

#playerErrorInfo {
	background-color: darkred;
	padding: 5px;
	border-radius: 5px;
}

.miniPlayer {
	position: fixed;
	/* it does not inherit the parent width when using position fixed */
	width: 1000px;
	top: 0;
	z-index: 1;
	box-shadow: 5px 5px 5px 0px rgba(145,143,145,1);
}

</style>
<div class="audioPlayer">
	<div ng-if="episodePlayer.isVisible()" ng-class="{miniPlayer: episodePlayer.miniPlayer}">
		<ps-value-streaming-information></ps-value-streaming-information>
		<table>
			<tbody>
				<tr>
					<td>
						<i class="fa fa-refresh fa-spin" ng-if="episodePlayer.loading" title="Loading"></i>
						<a href="" ng-click="episodePlayer.play()" ng-if="!episodePlayer.playing && !episodePlayer.loading"><i class="fa fa-play" title="{{'play' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.pause()" ng-if="episodePlayer.playing && !episodePlayer.loading"><i class="fa fa-pause" title="{{'pause' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.stop()"><i class="fa fa-stop" title="{{'stop' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.backward()" ng-class="{playerButtonDisabled: episodePlayer.loading}" title="{{'backward' | chrome_i18n }}"><i class="fa fa-backward"></i></a>
						<a href="" ng-click="episodePlayer.forward()" ng-class="{playerButtonDisabled: episodePlayer.loading}" title="{{'forward' | chrome_i18n }}"><i class="fa fa-forward"></i></a>
						<a href="" ng-click="episodePlayer.previousEpisode()" ng-if="true"><i class="fa fa-step-backward" title="{{'previous_episode' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.nextEpisode()" ng-if="true"><i class="fa fa-step-forward" title="{{'next_episode' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.tooglePlaylistVisibility()"><i class="fa fa-list" title="{{'toggle_playlist' | chrome_i18n }}"></i></a>
						<a href="" ng-click="episodePlayer.refresh()" ng-if="!episodePlayer.loading"><i class="fa fa-refresh" title="{{'refresh_player' | chrome_i18n }}"></i></a>
						
						<span class="psPlayerTimeText">
							<span ng-if="episodePlayer.timeMouseOver"><i>{{episodePlayer.timeMouseOver | format_seconds}}</i></span>
							<span ng-if="!episodePlayer.timeMouseOver">{{episodePlayer.time | format_seconds}}</span>
							<span> / {{episodePlayer.duration  | format_seconds}}</span>
						</span>
						<br>
						<div id="volumeControl" ng-if="!episodePlayer.miniPlayer">
							<i id="volumeIcon" class="fa fa-volume-up"></i>
							<input id="volumeSlider" type="range" name="range" ng-model="episodePlayer.volume.value" ng-change="episodePlayer.volumeChanged()"></input>
						</div>
						<div id="speedControl" ng-if="!episodePlayer.miniPlayer" style="padding-top: 10px">
							<span>{{'speed' | chrome_i18n}}</span>
							<button class="psTransparent" ng-click="episodePlayer.speedUp()" title="{{'speed_up' | chrome_i18n }}: {{episodePlayer.nextPlaybackRateUp()}}x"><i class="fa fa-chevron-up"></i></button>
							<button class="psTransparent" ng-click="episodePlayer.speedDown()" title="{{'speed_down' | chrome_i18n }}: {{episodePlayer.nextPlaybackRateDown()}}x"><i class="fa fa-chevron-down"></i></button>
							<span>{{episodePlayer.currentPlaybackRate()}}x</span>
						</div>
					</td>
					<td ng-if="episodePlayer.imageUrl">
						<img ng-src="{{episodePlayer.imageUrl}}" id="playerImage"></img>
					</td>
					<td>
						<div id="playingTitle">
							<span><b>{{'playing' | chrome_i18n }}:</b> </span>
							<a ng-if="episodePlayer.mediaLink" ng-href="{{episodePlayer.mediaLink}}" target="_blank">{{episodePlayer.mediaTitle}}</a>
							<span ng-if="!episodePlayer.mediaLink">{{episodePlayer.mediaTitle}}</span>
						</div>
						<div id="progressOut" ng-click="episodePlayer.seek($event)" ng-mousemove="episodePlayer.progressMouseOver($event)" 
						ng-mouseleave="episodePlayer.progressMouseLeave()" title="{{episodePlayer.timeMouseOver | format_seconds}}">
							<div id="progressIn" style="width: {{episodePlayer.timePercent}}%"></div>
						</div>
						<div style="padding-bottom: 4px;" ng-if="!episodePlayer.miniPlayer">
							<span class="funditBtn" ng-if="episodePlayer.showBoostButton" ng-click="episodePlayer.boost()"><i class="fa fa-bolt"></i> Boost!</span>
							<span class="psPlayerBtnSecondary psPlayerBtnSecondaryTwitter" title="{{'tweet_this_episode' | chrome_i18n}}" ng-click="episodePlayer.tweet()"><i class="fa fa-twitter"></i> {{'tweet' | chrome_i18n}}</span>
							<!--<span style="color: gray;"> | </span>
							<span class="psPlayerBtnSecondary icon_facebook" title="{{'facebook_share_this_episode' | chrome_i18n}}" ng-click="shareWithFacebook()"><i class="fa fa-share"></i> {{'facebook_share' | chrome_i18n}}</span>-->
						</div>
						<div style="padding-bottom: 5px;" ng-if="!episodePlayer.miniPlayer">
							<button class="psPlayerBtnSecondary psTransparent" href="" ng-click="episodePlayer.toggleShowOptions()" ng-if="!episodePlayer.showOptions">{{'show_player_options' | chrome_i18n}} <i class="fa fa-angle-double-right" title="{{'show_player_options' | chrome_i18n }}"></i></button>
							<button class="psTransparent" ng-click="episodePlayer.toggleShowOptions()" ng-if="episodePlayer.showOptions">{{'hide_player_options' | chrome_i18n}} <i class="fa fa-angle-double-down" title=""></i></button>
						</div>
						<div id="playerOptions" ng-if="episodePlayer.showOptions" ng-if="!episodePlayer.miniPlayer">
							<span>{{'order_next_previous' | chrome_i18n}}</span>
							<select name="audio_list" ng-model="episodePlayer.options.order" ng-change="episodePlayer.orderChanged()">
								<option value="from_podcast"      >{{'order_from_podcast'       | chrome_i18n}}</option>
								<option value="from_last_episodes">{{'order_from_last_episodes' | chrome_i18n}}</option>
								<option value="from_playlist"     >{{'order_from_playlist'      | chrome_i18n}}</option>
							</select>
							<br>
							<div title="{{'continue_playing_description' | chrome_i18n}}">
								<input type="checkbox" name="continuous_play" ng-model="episodePlayer.options.continuous" ng-change="episodePlayer.continuousChanged()" />
								<span> {{'continue_playing' | chrome_i18n}}</span>
							</div>
							<div>
								<input type="checkbox" name="reverse_play_order" ng-model="episodePlayer.options.reverseOrder" ng-change="episodePlayer.onChangeReverseOrder()" />
								<span> {{'reverse_play_order' | chrome_i18n}}</span>
							</div>
							<div>
								<input type="checkbox" name="remove_when_finished" ng-model="episodePlayer.options.removeWhenFinished" ng-change="episodePlayer.onChangeRemoveWhenFinished()" />
								<span> {{'remove_when_finished' | chrome_i18n}}</span>
							</div>
							<div>
								<input type="checkbox" name="pause_when_locked" ng-model="episodePlayer.options.pauseWhenLocked" ng-change="episodePlayer.onChangePauseWhenLocked()" />
								<span> {{'pause_when_locked' | chrome_i18n}}</span>
							</div>
						</div>
						<div ng-show="error" id="playerErrorInfo"> 
							<i class="fa fa-exclamation"></i> {{'player_error' | chrome_i18n}}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>