<style>
.listEntry {
	line-height: 300%;
}

#updatePeriod {
	width: 50px;
}
</style>
<div class="mainContentBox">
	<h1 class="sectionTitle">{{ 'options' | chrome_i18n }}</h1>
	<div class="listEntry">
		<h2>Feeds</h2>
		<input type="checkbox" ng-model="options.autoUpdate"><span>{{ 'auto_update' | chrome_i18n }}</span>
		<br>
		<span>{{ 'update_frequency' | chrome_i18n }}:</span>
		<input id="updatePeriod" ng-model="options.autoUpdateEvery" ng-disabled="!options.autoUpdate">
		<span> {{ 'minutes' | chrome_i18n }}</span>
		<br>
		<h2>{{ 'notifications' | chrome_i18n }}</h2>
		<input type="checkbox" ng-model="options.s"><span>{{ 'show_version_news' | chrome_i18n }}</span>
		<br>
		<h2>Integration with other extensions</h2>
		<input type="checkbox" ng-model="options.integrateWithScreenShader"><span ng-bind-html="'integrate_screen_shader' | chrome_i18n"></span>
		<br>
		<h2>Others</h2>
		<input type="checkbox" ng-model="options.analytics"><span ng-bind-html="'analytics' | chrome_i18n"></span>
		<br>
		<h2>Experimental</h2>
		<h3>Lightning payments</h2>
		<span>Lightning node REST API base url:</span>
		<input ng-model="lightningOptions.restBaseUrl">
		<br>
		<span>Macaroon (authentication), HEX encoded:</span>
		<input ng-model="lightningOptions.macaroon">
		<br>
		<span>Value (in millisats/hour):</span>
		<input ng-model="lightningOptions.value">
		<br>
		<span>Maximum fee (in %):</span>
		<input ng-model="lightningOptions.maxFeePercent">
		<br>
		<button ng-click="save()">{{ 'save' | chrome_i18n }}</button>
	</div>
</div>
