<div id="podcasts" class="mainContentBox">
	<h1 class="sectionTitle" ng-bind-html="{ message: 'search_results_for', arguments: [searchTerms] } | chrome_i18n"></h1>
	<p>{{'results_from' | chrome_i18n}}</p>
	<ul>
		<li><a href="http://www.digitalpodcast.com/" target="_blank">Digital Podcast</a></li>
		<li><a href="http://www.apple.com/itunes/" target="_blank">iTunes</a></li>
		<li><a href="https://podcastindex.org/" target="_blank">Podcastindex.org</a></li>
	</ul>
	<p>{{ 'itunes_trademark' | chrome_i18n }}</p>
	<div class="listEntry" ng-repeat="searchResult in searchResults">
		<div class="itemMenu">
			<a href="" ng-if="!searchResult.subscribed" title="{{ 'subscribe' | chrome_i18n }}" ng-click="addPodcast(searchResult)"><i class="fa fa-plus"></i></a>
			<i ng-if="searchResult.subscribed" title="{{ 'feed_in_list' | chrome_i18n }}" class="fa fa-check"></i>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<img ng-src="{{searchResult.image || searchResult.imageOriginal}}" class="podcastImage" width="100"></img>
						</td>
						<td>
							<div class="textView">
								<a ng-href="{{searchResult.link}}" ng-if="searchResult.link" target="_blank">
									<span class="itemTitle">{{searchResult.title}}</span>
								</a>
								<span class="itemTitle" ng-if="!searchResult.link">{{searchResult.title}}</span>
								<br>
								<a href="" ng-if="!searchResult.subscribed" ng-click="addPodcast(searchResult)"><b>{{ 'subscribe' | chrome_i18n }}</b></a>
								<span ng-if="searchResult.subscribed"><b>{{'feed_in_list' | chrome_i18n}}</b></span>
								<br>
								<a ng-if="searchResult.itunesLink" ng-href="{{searchResult.itunesLink}}" target="_blank">{{ 'open_in_itunes' | chrome_i18n }}</a>
								<div class="itemDescription">
									{{searchResult.description}}
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h3 ng-if="!searchResults.length">{{ 'no_results' | chrome_i18n }}</h3>
</div>
